DB_SERVER=srv-consultorio-us.database.windows.net
DB_DATABASE=Consultorio_Odontologico
DB_USER=consultorio
DB_PASSWORD=your_password_here
DB_PORT=1433
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=false
PORT=4000
